:root {
    --navBar-color: #131313;
    --golden-color: #e7c075;
    --golden-hover-color: #bb954f;
    --golden-btn-text-color: #432f01;
    --text-color: #a4a2a8;
    --small-text-color: #b5aa9b;
    --card-background-color: #353534;
}

@font-face {
    font-family: mainFont;
    src: url(../assets/Fonts/noto-serif.regular.ttf);
}

body {
    display: flex;
    text-transform: capitalize;
    font-family: mainFont;
}

.archive {
    margin: 1%;
}

img {
    max-width: 100%;
    object-fit: contain;
    height: 10em;
}

i {
    color: var(--golden-color);
    font-size: large;
}

.museum {
    border-bottom: 3px solid var(--text-color);
    margin: 1%;
}

h1 {
    color: var(--golden-color);
    text-align: center;
    font-weight: unset;
}

h3 {
    color: var(--small-text-color);
    text-align: right;
    padding: 1.5%;
    font-weight: unset;
}

h5 {
    color: var(--golden-color);
    font-size: 12px;
    margin-top: 10px;
    font-weight: unset;
}

h2 {
    color: var(--text-color);
    font-weight: unset;
}

h6 {
    color: var(--small-text-color);
    font-weight: unset;
}

.img {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 3%;
    background-color: #353534;
    max-width: 18em;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.img:hover {
    transform: scale(1.1);

}

.header {
    display: flex;
    justify-content: space-between;
}


#artifacts-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    column-gap: 20px;
    padding: 20px 40px;
}

.card {
    display: flex;
    gap: 15px;
    background-color: var(--card-background-color);
}

.text-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 12px;
}

.empty {
    margin-top: 15px;
    text-align: center;
}

.card-footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}