:root {
    --black : #000;
    --navBar-color-dark: #131313e6;
    --navBar-color-light: #fef8efe6;
    --background-dark: #0a0a0a;
    --background-light: #f8f2ea;
    --golden-color: #e7c075;
    --golden-hover-color: #bb954f;
    --golden-btn-text-color: #432f01;
    --text-dark: #a4a2a8;
    --text-light: #4e4635;
    --active-text: rgb(152, 120, 34);
    --active-text: #987822;
    --big-text-light: #2b240a;
    --small-text-dark: #b5aa9b;
    --footer-light: #f2ede4;
    --button-light: #937C63;
    --card-background-color:#353534;
    --container-color-light: #fdedbf;
    --container-second-light: #383010;
}
<<<<<<< Updated upstream

.a{
=======
body{
    cursor: default;
}
.a {
>>>>>>> Stashed changes
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image:linear-gradient(rgba(0,0,0,0.5)),
    url(../assets/images/download.jpeg);  
    background-size: cover;
    background-position: center;
    min-height: 100vh; 
    padding-top:75px ;
    gap: 100px;
}
.a.light{
    background-image: linear-gradient(rgb(255, 255, 255 ,.5)),
    url(../assets/images/feedback\ light.jpeg);
}
.miniTitle{
    color: var(--golden-color);
    font-size: 14px;
    font-family: mainFont;
    letter-spacing: 2px;
    margin-bottom: -10px;
}
.miniTitle.light{
    color: var(--text-light);
}
h1 span{
    color: white;
}
h1 span.light{
    color: white;
    text-shadow: 1px 1px 8px var(--big-text-light);
}
h1{
    color: var(--golden-color);
    font-size: 70px;
    font-family: mainFont ;
    font-weight: 500;
    padding: 20px 0;
}
h1.light{
    color: var(--big-text-light);
    text-shadow: 1px 1px 2px var(--big-text-light);
}
.line{
    width: 20%;
    border-top:5px solid var(--golden-color) ;
}
.line.light{
    border-top: 5px solid var(--big-text-light);
}
.description{
    color: var(--small-text-dark);
    font-size: 22px;
    font-family: mainFont ;
    padding:20px 0;
    line-height: 1.4;
   max-width: 600px;
}
.description.light{
    color: var(--text-light);
}
.end{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
}
a{
    text-decoration: none;
}
.head-contact{
    color: #e7bf7593;
    font-size: 20px;
    margin-bottom: 5px;
    text-transform:uppercase;
    letter-spacing: 1px;
}
.head-contact.light{
    color: var(--text-light);
}
.main-contact{
    color: #b5aa9b;
    font-size: 18px;
    margin-bottom: 30px;
}
.main-contact.light{
    color: white;
    text-shadow: 1px 1px 8px var(--big-text-light);
}
li{
    list-style-type: none;
    border-left: 3px solid rgba(255, 255, 255, 0.15);
    padding-left: 20px;
    margin-bottom: 15px;
}
li.light{
    border-left: 3px solid var(--big-text-light);
}
.left{
    margin:50px 0;
    display: flex;
    justify-content: center;
    background-color: var(--navBar-color-dark);
    padding: 50px;
    width: 40%;
    height: auto;
    border-radius: 20px;
    transition: 0.4s;
}

.left.light{
    background-color: var(--navBar-color-light);
}

.feed-back{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form div {
    display: flex;
    flex-direction: column;
    color: var(--small-text-dark);
    gap: 2px;
}
div label{
    font-size:16px ;
    font-family: mainFont;
    font-weight: normal;
    color: var(--small-text-dark);
    letter-spacing: 2px;
    padding: 5px 0;
}
div label.light{
    color: var(--text-light);
}
div input ,
div textarea{
    font-size: 16px;
    font-family: mainFont;
    color: var(--text-dark);
    padding:5px 10px;
    background-color: rgba(46, 45, 45, 0.4);
    outline: none;
    border:0.5px solid rgba(46, 45, 45, 0.4);
    transition: 0.2s;
    width: 100%;
}
div input.light ,
div select.light ,
div textarea.light{
    background-color: var(--background-light);
    color:#674f3e;
}
.type{
    font-size: 16px;
    font-family: mainFont;
    color: var(--text-dark);
    padding:5px 10px;
    background-color: rgba(46, 45, 45, 0.4);
    outline: none;
    border:0.5px solid rgba(46, 45, 45, 0.4);
    transition: 0.2s;
    width: 100%;
    margin-bottom: 15px;
}
div option{
    background-color: black;
}
div option.light{
    background-color: var(--navBar-color-light);
}
div option:focus{
    background-color: aliceblue;
}
div textarea{
    height: 100px;
    resize: none;
}
div input.E,
div textarea.E{
   border:  1px solid rgb(182, 28, 28);
 }
div input.T{
   border:  1px solid rgb(24, 80, 24);
 }
div input:focus,
div textarea:focus,
div select:focus{
    border:0.5px solid var(--golden-color);
}
.error,
#Error {
    height: 22px;
    text-align: left;
    font-size: 18px;
    font-family: mainFont;
    font-weight: normal;
}
/* .success{
    height: 16px;
    text-align: left;
    font-size: 20px;
    font-family: mainFont;
    margin-bottom: 10px;
} */
button{
    padding: 10px 16px;
    background-color: var(--golden-color);
    color: var(--golden-btn-text-color);
    font-size: 16px;
    font-family: mainFont;
    width: 100%;
    letter-spacing: 2px;
    margin: 15px 0;   
}
button.light{
    background-color:var(--button-light);
    border: none;
    color: #ffffff;
}
button:hover {
    cursor: pointer;
    background-color: var(--golden-hover-color);
    color: var(--golden-btn-text-color);
}
button.light:hover {
  background-color: var(--button-hover-light);
  color: white;
}
.feed-back P{
    color:var(--text-dark);
    font-size: 10px;
    font-family: mainFont;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.4;
}
.feed-back P.light{
    color: var(--button-light);
}