* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root {
    --navBar-color: #131313c6;
    --golden-color: #e7c075;
    --golden-hover-color: #bb954f;
    --golden-btn-text-color: #432f01;
    --text-color: #a4a2a8;
    --small-text-color: #b5aa9b;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #0a0a0a;
    /* background-image:
        radial-gradient(circle at 20% 30%, rgba(212, 175, 55, 0.09) 0%, transparent 40%),
        radial-gradient(circle at 80% 70%, rgba(212, 175, 55, 0.09) 0%, transparent 40%); */
}


@font-face {
    font-family: mainFont;
    src: url(../assets/Fonts/noto-serif.regular.ttf);
}


.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--navBar-color);
    color: var(--golden-color);
    font-family: mainFont;
    font-size: 28px;
    width: 100%;
    height: 70px;
    padding: 0 40px;
    opacity: 0.9;
    letter-spacing: 5px;
    position: sticky;
    top: 0px;
    z-index: 15;
}

.nav-cnt {
    display: flex;
    gap: 50px;
}

.nav-links {
    display: flex;
    gap: 40px;
    align-items: center;
    transform: translateX(-70px)
}

.nav-links a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 15px;
    transition: 0.4s;
    letter-spacing: normal;
}

.nav-bar a:hover {
    color: var(--golden-color);
}

.nav-links a.active {
    color: var(--golden-color);
    text-decoration: underline;
    text-underline-offset: 6px;
}

.sign {
    display: flex;
}

.nav-bar .sign-btn {
    position: relative;
    padding: 4px 16px;
    background-color: var(--golden-color);
    border-radius: 12px;
    color: var(--golden-btn-text-color);
    font-size: 25px;
    text-decoration: none;
    letter-spacing: normal;
    transition: 0.4s;
}

.nav-bar .sign-btn:hover {
    background-color: var(--golden-hover-color);
    color: var(--golden-btn-text-color);
}

.nav-bar .sign a.sign-btn.active {
    background-color: var(--golden-hover-color);
}

main {
    flex: 1;
}


header {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    /* Vertically centers the text box */
    justify-content: flex-start;
    /* Keeps text to the left */
    position: relative;

    /* Move your background logic here */
    background:
        linear-gradient(to right,
            rgba(10, 10, 10, 1) 0%,
            rgba(10, 10, 10, 0.8) 20%,
            rgba(10, 10, 10, 0.3) 50%,
            rgba(10, 10, 10, 0) 80%),
        url('../assets/images/cleaned_60007535-d757-4ad4-8e7a-45971df8d20e_clean.png');

    background-size: 1200px;
    background-position: center right;
    background-repeat: no-repeat;
    background-color: #0A0A0A;
}

.headerText {
    /* position: absolute;
    z-index: 2;
    top: 50%;
    left: 60px; */
    margin-top: 420px;
    margin-left: 60px;
    transform: translateY(-50%);
    max-width: 600px;
}

/* Remove the old image container styles so they don't interfere */
.headerImg {
    /* background-color: red; */
    position: relative;
    width: 100%;
    height: 600px;

    background:
        linear-gradient(to right,
            rgba(10, 10, 10, 1) 0%,
            rgba(10, 10, 10, 0.85) 0%,
            rgba(10, 10, 10, 0.4)50%,
            rgba(10, 10, 10, 0) 80%),
        url('../assets/images/cleaned_60007535-d757-4ad4-8e7a-45971df8d20e_clean.png');

    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;

    display: flex;
    justify-content: flex-end;
}

/* .headerImg img{
    width:65%;
    height:100%;
} */



/* .opacity {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.348);
    height: 600px;
    width: 100%;
    z-index: 1;
} */



.Ephemera {
    font-size: 70px;
    color: white;
    font-weight: 500;
    line-height: 1.1;
    transform: translateY(-60px);
}

.Ephemera span {
    color: var(--golden-color);
    font-style: italic;
}

.curated {
    font-size: 18px;
    color: var(--small-text-color);
    line-height: 1.8;
    transform: translateY(-50px);

}

.collectionButtom {
    transform: translateY(-30px);
    margin-top: 10px;
}

.collectionButtom button {
    padding: 15px 30px;
    font-size: 16px;
    background-color: var(--golden-color);
    border: none;
    color: var(--golden-btn-text-color);
    border-radius: 4px;
    letter-spacing: 1px;
}

.collectionButtom button:hover {
    background-color: var(--golden-hover-color);
    cursor: pointer;
}

.firstSection {
    /* background-color: red; */
    width: 98%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    margin: auto;
    margin-top: 20px;
    border-radius: 30px;
    background-color: rgba(128, 128, 128, 0.249);
}

.videoDiv {
    /* background-color: green; */
    width: 45%;
    height: 85%;
    border-radius: 30px;
    margin-right: 50px;
}

.videoDiv video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid transparent;
    object-fit: cover;
}

.videoDescribtion {
    /* background-color: blue; */
    width: 50%;
    height: 80%;
    /* margin-left: 30px; */
}

.videoDescribtionHeader {
    font-size: 50px;
    margin-left: 160px;
    color: var(--golden-color)
}

.videoDescribtionText {
    font-size: 20px;
    margin-left: 50px;
    margin-top: 30px;
    line-height: 37px;
    letter-spacing: 1.5px;
    color: rgba(255, 255, 255, 0.767);
}

.mainSection {
    width: 100%;
    height: 800px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #0E0E0E;
}

.verticalSeparator {
    position: absolute;
    /* width: 58px; */
    margin: 150px 0px 0px 505px;
    height: 605px;
}

.horizontalSeparator {
    position: absolute;
    width: 280px;
    margin: 425px 0px 0px 240px;
}

.horizontalSeparatorTwo {
    position: absolute;
    width: 280px;
    margin: 755px 0px 0px 240px;
}

.horizontalSeparatorThree {
    position: absolute;
    width: 280px;
    margin: 425px 0px 0px 1000px;
}

.horizontalSeparatorFour {
    position: absolute;
    width: 280px;
    margin: 755px 0px 0px 1000px;
}

.mainSectionHeader {
    /* background-color: red; */
    width: 100%;
    height: 100px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainSectionHeader p {
    color: var(--golden-hover-color);
    font-size: 45px;
}

.mainSection img {
    width: 100%;
    height: 100%;
}

.mainSectionFirstCard {
    /* background-color: blue; */
    margin-left: 35px;
    width: 692px;
    height: 260px;
    display: flex;
    background-color: #212527;
    z-index: 10;
}

.mainSectionFirstCard img {
    width: 350px;
    height: 100%;
}

.mainSectionFirstCard_describtion {
    /* background-color: red; */
    margin: 14px 0px 0px 15px;
    line-height: 25px;
}

.mainSectionFirstCard_describtion_date {
    color: var(--golden-color);
    font-size: 12px;
    margin: 0px 0px 3px 2px;
}

.mainSectionFirstCard_describtion_name {
    color: var(--golden-color);
    font-size: 30px;
}

.mainSectionFirstCard_describtion_location {
    margin: 2px 0px 10px 2px;
    color: #7D807D;
}



.mainSectionFirstCard_describtion_text {

    color: #7D807D;
}

.mainSectionFirstCard_describtion_view {
    color: var(--golden-color);
    margin-top: 15px;
}

.mainSectionFirstCard_describtion a {
    color: var(--golden-color);
    text-decoration: none
}


.mainSectionSecondCard {
    margin-right: 35px;
    width: 692px;
    height: 260px;
    display: flex;
    background-color: #212527;
    z-index: 10;
}

.mainSectionSecondCard img {
    width: 350px;
    height: 100%;
}

.mainSectionFirstCard_describtion_text_2 {
    color: #7D807D;
    line-height: 20px;
    margin: 14px 0px 0px 0px;
    line-height: 25px;
}

.mainSectionFirstCard_describtion_view_2 {
    color: var(--golden-color);
    margin-top: 10px;

}

.mainSectionThirdCard {
    margin-left: 35px;
    width: 692px;
    height: 270px;
    display: flex;
    background-color: #1B1E1F;
    z-index: 10;

}

.mainSectionThirdCard img {
    width: 350px;
    height: 100%;
}

.mainSectionFourthCard {
    margin-right: 35px;
    width: 692px;
    height: 270px;
    display: flex;
    background-color: #1B1E1F;
    z-index: 10;
}

.mainSectionFourthCard img {
    width: 350px;
    height: 100%;
}

.mainSectionFirstCard_describtion_view_3 {
    color: var(--golden-color);
    margin-top: 40px;

}

.mainSectionFirstCard_describtion_view_4 {
    color: var(--golden-color);
    margin-top: 40px;

}

/* .mainSectionFirstCard_describtion{
    line-height: 28px;
    letter-spacing: 1px;
} */

.To_Be_Continued {
    /* background-color: red; */
    display: block;
    height: 140px;
    width: 100%;
    margin: auto;
    cursor: text;
}

.To_Be_Continued img {
    width: 100%;
    height: 100%;
}

.footer {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    font-family: mainFont;
    background-color: var(--navBar-color);
    opacity: 0.9;
    color: var(--golden-color);
    padding: 0 40px;
    letter-spacing: 2px;
}

.footer h5 {
    font-size: 17px;
    font-weight: normal;
    padding-left: 10px;
}


.copy-right-2 {
    /* background-color: red; */
    transform: translateX(75px);
}

.footer-links {
    display: flex;
    gap: 40px;
    align-items: center;
    padding-right: 10px;
}

.footer-links a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 15px;
    transition: 0.4s;
    letter-spacing: normal;
}

.footer-links a:hover {
    color: var(--golden-color);
}

.footer-links a.active {
    color: var(--golden-color);
    text-decoration: underline;
    text-underline-offset: 6px;
}
