:root {
    --navBar-color-dark: #131313e6;
    --background-dark: #0a0a0a;
    --golden-color: #e7c075;
    --golden-hover-color: #bb954f;
    --golden-btn-text-color: #432f01;
    --text-dark: #a4a2a8;
    --active-text: #987822;
    --small-text-dark: #b5aa9b;
    --navBar-color-light: rgb(242, 237, 228, 0.8);
    --background-light: #f2ede4;
    --button-light: #937C63;
    --button-hover-light: #7D6852;
    --footer-light: #f2ede4;
    --container-color-card: #fcecdb;
    --container-color-light: #F9F3E5;
    --container-second-light: #383010;

    --text-light: #6B4F3A;
    --big-text-light: #3E2F23;
}
body{
    cursor: default;
}
section{
    margin: 5% 0%;
}
.container{
    margin: 8%;
    margin-bottom: 6%;
    width: 90vw;
    height: 60vh;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 160%;
    box-shadow: -5px 5px 15px var(--golden-color);
}
.container.light{
    box-shadow: -5px 5px 15px var(--button-light);
}
.start1{
    color: var(--background-light);
    font-weight: unset;
    margin: 1%;
    display: inline-block;
    transform: translate(0px,400px);
    text-shadow: 0px 0px 10px var(--golden-color);
    font-size: 190%;
    transition: all 0.3s ease;
    cursor: pointer;
}
.start1.light{
    color: var(--container-color-card);
    text-shadow: 0px 0px 10px var(--big-text-light);
}
.start2{
    color: var(--golden-color);
    font-weight: unset;
    display: inline-block;
    transform: translate(0px,400px);
    font-size: 170%;
    transition: all 0.3s ease;
    cursor: pointer;
}
.start2.light{
    color: var(--button-light);
}
b:hover{
    display: inline-block;
    transform: scale(2)!important;
}
#pic1{
    width: 25%;
    height:95%;
    position: relative;
    box-shadow: -5px 5px 15px black;
    transition: all 1s ease-out;
    transform: translateX(1000px);
}
#pic1.light{
    box-shadow: -5px 5px 15px var(--text-light);
}
#pic2{
    width: 25%;
    height:95%;
    position: relative;
    box-shadow: -5px 5px 15px black;
    transition: all 1s ease-out;
    transform: translateX(-1000px);
}
#pic2.light{
    box-shadow: -5px 5px 15px var(--text-light)!important;
}
#pic1.transition{
    transform: translate(480px,50px);
}
#pic2.transition{
    transform: translate(-470px,-220px);
}
.homeEnd{
    width: 90vw;
    height: 60vh;
    justify-self: center;
    box-shadow: -5px 5px 15px var(--golden-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4%;
    margin-top: 6%;
    font-size: 110%;
    gap: 5%;
    h1{
        color: var(--golden-color);
        font-size: 320%;
    }
    h3{
        color: var(--small-text-dark);
    }
    p{
        color: var(--text-dark);
        width: 60%;
    }
    a{
        text-decoration: none;
        color: var(--golden-color);
        font-size: 120%;
        margin: 2%;
        border: 3px solid var(--golden-color);
        padding: 0.8% 1.8%;
    }
}
.homeEnd.light{
    box-shadow: -5px 5px 15px var(--button-light);
    h1{
        color: var(--big-text-light);
    }
    h3{
        color: var(--button-hover-light);
    }
    p{
        color: var(--button-light);
    }
    a{
        color: var(--big-text-light);
        border: 3px solid var(--big-text-light);
    }
}


.container-slides {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 100px;
    padding: 80px 50px;
    scroll-behavior: smooth;
}

.container-slides::-webkit-scrollbar {
    display: none;
}

.history-container {
    perspective: 1000px;
}

.history {
    min-width: 350px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
}

.history-container:hover .history {
    transform: rotateY(180deg);
}

.back,
.front {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: linear-gradient(rgba(0, 0, 0, 0.3));
}

.back.light,
.front.light {
    box-shadow: 0 10px 20px rgb(107, 79, 58, 0.2);
}

.coptic {
    background-image: url(../assets/images/Coptic_Museum.jpeg);
    background-size: cover;
}

.coptic.light {
    background-image: url(../assets/images/Coptic_Museum.jpeg);
}

.grand {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../assets/images/grand\ Egyptian\ museum.jpeg);
    background-size: cover;
}

.grand.light {
    background-image: url(../assets/images/grand\ Egyptian\ museum.jpeg);
}

.art {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../assets/images/islamic.jpeg);
    background-size: cover;
}

.art.light {
    background-image: url(../assets/images/islamic.jpeg);
}

.egy {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../assets/images/photo_6030414167451307199_y.jpg);
    background-size: cover;
}

.egy.light {
    background-image: url(../assets/images/photo_6030414167451307199_y.jpg);
}

.nmec {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../assets/images/NMEC.jpeg);
    background-size: cover;
}

.nmec.light {
    background-image: url(../assets/images/NMEC.jpeg);
}

.back {
    background-color: var(--navBar-color-dark);
    padding: 50px;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.back.light {
    background-color: var(--navBar-color-light);
}

.back h3 {
    color: var(--golden-color);
    font-size: 30px;
}

.back h3.light {
    color: var(--big-text-light);
}

.back p {
    color: var(--small-text-dark);
    font-size: 20px;
    line-height: 1.3;
}

.back p.light {
    color: var(--text-light);
}


.feature {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px 100px;
}

.card {
    box-shadow: var(--golden-color) 1px 1px 1px 0px;
    background-color: var(--navBar-color-dark);
    padding: 40px 20px;
    border-radius: 15px;
    transition: transform 0.3s ease;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}

.card.light {
    box-shadow: var(--big-text-light) 1px 1px 1px 0px;
    background-color: var(--navBar-color-light);
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: var(--golden-color) 1px 2px 8px 0px;
}

.card.light:hover {
    box-shadow: var(--big-text-light) 1px 2px 8px 0px;
}

.icon {
    text-align: center;
    font-size: 40px;
    color: var(--golden-color);
}

.icon.light {
    color: var(--big-text-light);
}

.titleFeatures {
    font-size: 40px;
    text-align: center;
    color: var(--small-text-dark);
    font-family: mainFont;
}

.titleFeatures.light {
    color: var(--big-text-light)
}

.titleCard {
    font-size: 25px;
    color: var(--small-text-dark);
    text-align: center;
    font-family: mainFont;
}

.titleCard.light {
    color: var(--big-text-light)
}

.describtion3 {
    font-size: 20px;
    color: var(--small-text-dark);
    text-align: center;
    font-family: mainFont;
}

.describtion3.light {
    color: var(--text-light);
}

