:root {
    --black: #000;
    --navBar-color-dark: #131313e6;
    --navBar-color-light: #f2ede4cc;
    --background-dark: #0a0a0a;
    --background-light: #f2ede4;
    --golden-color: #e7c075;
    --golden-hover-color: #bb954f;
    --text-dark: #a4a2a8;
    --active-text: rgb(152, 120, 34);
    --text-light: #6B4F3A;
    --big-text-light: #3E2F23;
    --active-text: #987822;
    --small-text-dark: #b5aa9b;
    --card-background-color: #353534;
    --container-color-light: #fdedbf;
    --container-second-light: #383010;
    --button-light: #937C63;
    --button-hover-light: #7D6852;
    --footer-light: #f2ede4;
    --container-color-light: #F9F3E5;
    --container-second-light: #383010;
    --information-cnt: #181818;
}

@font-face {
    font-family: main-font;
    src: url(../assets/Fonts/noto-serif.regular.ttf);
}

@font-face {
    font-family: bold-font;
    src: url(../assets/Fonts/noto-serif.bold.ttf);
}

#map-iframe {
    border: none;
    width: 80vw;
    height: 148.5%;
    border-radius: 15px;
    margin-top: 20px;
    transition: 0.4s;
}


#map-main {
    position: relative;
    display: flex;
    justify-content: center;
    transition: 0.4s;
    margin-bottom: 20px;
}

#map-iframe.selected {
    width: 67vw;
    height: 124.5%;
}

#map-container {
    margin-bottom: 20%;
    transition: 0.5s;
    height: 83vh;
    margin-right: 0;
}

#map-container.selected {
    margin-right: 30%;
    margin-bottom: 10%;
}

#information-container {
    position: absolute;
    top: 0;
    right: -100vw;
    height: 103%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    background-color: var(--information-cnt) ;
    align-items: center;
    padding: 0 50px;
    padding-top: 20px;
}

#information-container.selected {
    right: 0;
}

#information-container.light {
    background-color: white;
}

#information-container .p1 {
    color: #87724b;
    font-family: main-font;
    width: 350px;
    transition: 0.4s;
}

#information-container .p1.light {
    color: #8C6239;
}

#information-container .p2 {
    color: white;
    font-family: bold-font;
    font-size: 35px;
    text-align: center;
    transition: 0.4s;
}

#information-container .p2.light {
    color: #1A1A1A;
}

#img {
    width: 350px;
    filter: brightness(0.7);
    margin-top: 20px;
    border-radius: 10px;
    transition: 0.4s;
}

#img.light {
    filter: brightness(1);
}

#selected-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #ddb870;
    width: 100%;
    font-family: main-font;
    font-size: 18px;
    padding: 0;
    text-align: center;
    transition: 0.4s;
}

#selected-info.light {
    color: #5D4037;
}

#selected-info p {
    padding-top: 20px;
}

#selected-info label {
    font-family: bold-font;
    font-size: 13px;
    color: #87724b;
    transition: 0.4s;
}

#selected-info label.light {
    color: #8D4925;
}

#info-p{
    color: #c7bbab;
    width: 350px;
    font-family: main-font;
    font-size: 18px;
    text-align: center;
    padding-top: 30px;
    transition: 0.4s;
}

#info-p.light {
    color: #5c5c5c;
}