body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #0a0a0a;
    background-image:
        radial-gradient(circle at 20% 30%, rgba(212, 175, 55, 0.09) 0%, transparent 40%),
        radial-gradient(circle at 80% 70%, rgba(212, 175, 55, 0.09) 0%, transparent 40%);

}


@font-face {
    font-family: mainFont;
    src: url(../assets/Fonts/noto-serif.regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

::selection {
    background-color: #c59f59c5;
    color: #4e3700;
}

:root {
    --black: #000;
    --navBar-color-dark: #131313e6;
    --navBar-color-light: #f2ede4cc;
    --background-dark: #0a0a0a;
    --background-light: #f2ede4;
    --golden-color: #e7c075;
    --golden-hover-color: #bb954f;
    --golden-btn-text-color: #432f01;
    --text-dark: #a4a2a8;
    --active-text: rgb(152, 120, 34);
    --text-light: #6B4F3A;
    --big-text-light: #3E2F23;
    --active-text: #987822;
    --small-text-dark: #b5aa9b;
    --card-background-color: #353534;
    --container-color-light: #fdedbf;
    --container-second-light: #383010;
    --button-light: #937C63;
    --button-hover-light: #7D6852;
    --footer-light: #f2ede4;
    --container-color-light: #F9F3E5;
    --container-second-light: #383010;
    --table-border: #ffd572;
    --table_card_background: #353534;
    --shadow--: 0 15px 35px #00000080;
}


.heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.heading h1 {
    color: var(--text-dark);
    margin: 10px;
    padding: 8px;
    width: 100%;
    text-align: center;
    transition: 0.4s;
}

.heading h1.light {
    color: var(--text-light);
}

.heading p {
    color: var(--golden-color);
    margin: 10px;
    margin-bottom: 0px;
    padding: 10px;
    width: 100%;
    text-align: center;
    transition: 0.4s;
}

.heading p.light {
    color: var(--active-text);
}

.heading span {
    color: var(--golden-color);
    margin-top: 0px;
    width: 100%;
    text-align: center;
}

.heading span.light {
    color: var(--active-text);
}

.cards_container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    max-width: 1100px;
    margin: 40px auto;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--table_card_background);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card-container.light {
    background-color: var(--container-second-light);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cards_container span {
    font-size: 25px;
    color: var(--golden-color);
}

.card-container:nth-child(1) {
    grid-column: 1 / 5;
}

.card-container:nth-child(2) {
    grid-column: 5 / 7;
}

.card-container:nth-child(3) {
    grid-column: 2 / 6;
}

.card-container:nth-child(4) {
    grid-column: 1 / 4;
}

.card-container:nth-child(5) {
    grid-column: 4 / 7;
}

video {
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: grayscale(40%);
    cursor: pointer;
    width: 100%;
    height: 385px;
    object-fit: cover;
    display: block;
    border-radius: 20px;
    margin: 10px;
}

#card1 {
    width: 96%;
}

#card2 {
    width: 93%;
}

#card3 {
    width: 96%;
}

#card4 {
    width: 95%;
}

#card5 {
    width: 95%;
}

video:hover {
    transform: scale(1.02);
    filter: grayscale(0%);
}

/* --------------------------------(table)-------------------------------- */

.table-container {
    display: flex;
    justify-content: center;
}

.table {
    width: auto;
    background: var(--table_card_background);
    border: 1px solid var(--table-border);
    box-shadow: var(--shadow--);
    padding: 30px;
    margin: 50px;
}

.table-museum {
    margin-left: 20px;
    border-collapse: separate;
    padding: 20px;
    width: 95%;
    height: 95%;
    color: var(--golden-color);
}

.table-museum tbody tr:hover {
    background-color: var(--table-hover--);
    color: var(--table-text--);
}

.table-museum th {
    color: var(--text-dark);
    padding: 15px;
    border-bottom: 2px solid var(--table-border);
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.table-museum {
    border-collapse: separate;
    border-spacing: 0 15px;
    width: 100%;
    background: transparent;
}

.table-museum tbody tr,
.table-museum tfoot tr {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(184, 134, 11, 0.2);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 15px;
    cursor: pointer;
}

.table-museum td {
    padding: 25px 15px;
    border: none !important;
    margin: 20px 0px;
}

.table-museum tbody tr:hover {
    transform: translateY(-5px) scale(1.01);
    background-size: cover;
    background-position: center;
    box-shadow: var(--shadow--);
    border: 1px solid rgba(184, 134, 11, 0.8);
    color: #fff !important;
}

.table-museum tbody #row1:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
        url("../assets/images/grand egy museum/photo_2026-04-25_16-12-06.jpg");
}

.table-museum tbody #row2:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
        url("../assets/images/egy museum/cairo-museum.jpg");
}

.table-museum tbody #row3:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
        url("../assets/images/islamic art/museum_of_islamic_art,cairo.jpg");
}

.table-museum tbody #row4:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
        url("../assets/images/coptic museum/The Coptic Museum (1).jpg");
}

.table-museum tbody #row5:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
        url("../assets/images/nmec/The National Museum of Egyptian Civilization, Egypt.jpg");
}

.table-museum tbody tr:hover td,
.table-museum tfoot tr:hover td {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.table-museum tfoot tr:hover {
    transform: translateY(-5px) scale(1.01);
    background-size: cover;
    background-position: center;
    box-shadow: var(--shadow--);
    border: 1px solid rgba(184, 134, 11, 0.8);
    color: rgba(0, 0, 0, 0.2) !important;
    /* background-color: rgba(35, 35, 35, 0.356); */
    background-color: rgba(26, 26, 26, 0.356);
}

.table-museum tfoot td {
    background: rgba(0, 0, 0, 0.2);
    color: var(--golden-color);
}