:root {
    --navBar-colo-dark-dark: #131313e6;
    --background-dark: #0a0a0a;
    --golden-color: #e7c075;
    --golden-hover-color: #bb954f;
    --golden-btn-text-color: #432f01;
    --text-dark: #a4a2a8;
    --active-text: #987822;
    --small-text-dark: #b5aa9b;

    --navBar-color-light: rgb(242, 237, 228, 0.8);
    --background-light: #f2ede4;
    --button-light: #937C63;
    --button-hover-light: #7D6852;
    --footer-light: #f2ede4;
    --container-color-light: #F9F3E5;
    --container-second-light: #383010;
    --text-light: #6B4F3A;
    --big-text-light: #3E2F23;
}
@font-face {
    font-family: mainFont;
    src: url(../assets/Fonts/noto-serif.regular.ttf);
}
body{
    text-transform: capitalize;
    font-family: mainFont;
    display: flex;
    cursor: default;
}
.head,main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
}
.mode-cnt{
    left: 120px;
}
#profilePic{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin: 1%;
    border: 2px solid var(--golden-color);
}
h1{
    color: var(--golden-color);
    font-weight: unset;
}
h4,h3{
    color: var(--small-text-dark);
    font-weight: unset;
}
h3{
    border-bottom: 2px solid var(--small-text-dark);
    padding: 2%;
}
.fav{
    width: 50%;
    margin: 4%;
}
hr{
    background-color: var(--golden-color);
    width: 5%;
    margin: 3%;
    font-weight: unset;
}
.btn{
    width: 100px;
    height: 30px;
    color: var(--golden-color);
    text-align: center;
    align-items: center;
    transition: 0.15s ;
    margin: 1px;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.1)!important;
    text-shadow: 2px 3px 8px black;
}
.btn.light:hover{
    text-shadow: 0px 0px 4px var(--navBar-colo-dark-dark)!important;
}
a{
    text-decoration: none;
    color: var(--black);
    font-size: 130%;
}
.fav{
    justify-self: center;
    img{
        height: 100%;
        width: 100%;
        border-radius: 20px;
    }
    h2{
        color: var(--golden-color);
        font-weight: unset;
        font-size: 80%;
        width: auto;
        line-height: 1.2;
        word-wrap: break-word;
    }
    h5{
        color: var(--small-text-dark);
        font-weight: unset;
        font-size: 75%;
        width: 20px;
    }
    h6{
        color: var(--small-text-dark);
        font-weight: unset;
        font-size: 65%;
        width: auto;
        white-space: nowrap;
    }
    .container{
        margin: 2%;
        display: flex;
        justify-self: center;
        width: 600px;
        height: 20%;
        align-items: center;
        gap: 25px;
    }
    .picture{
        height: 130px;
        width: 130px;
    }
    .nameInfo{
        flex: 1;
        min-width: 150px;
        text-wrap: wrap;
    }
    .iconBox{
        display: flex;
        align-items: center;
        font-size: 150%;
        width: 20px;
        gap: 15px;
        justify-content: flex-end;
    }
    .text{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    .cardFooter{
        display: flex; 
        align-items: center;
        width: 100%;
        gap: 15px;
        justify-content: space-between;
    }
    i{
        cursor: pointer;
    }
}
.box{
    background-color: black;
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
    align-items: center;
    top: 25%;
    left: 32.5%;
    width: 35%;
    height: 42%;
    border-radius: 20px;
    padding: 3.5% 2.5%;
    box-shadow: 0px 0px 15px var(--golden-color);
    font-weight: unset;
}
.icony{
    color: var(--golden-color);
    font-size: 160%;
}
.hr{
    width: 310px;
    height: 2px;
    margin: 2.5%;
    background-color: var(--golden-color);
    border-radius: 5px;
}
.heading{
    color: var(--golden-color);
}
.warning{
    color: var(--text-color);
}
.no{
    border: 1px solid var(--golden-color);
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    padding: 2px;
    height: 90%;
    align-items: center;
    width: 20%;
}
.yes{
    color: var(--black);
    background-color: var(--golden-color);
    cursor: pointer;
    text-align: center;
    padding: 2px;
    align-items: center;
    width: 20%;
    height: 90%;
    border-radius: 8px;
}
.choice{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10%;
}
.sign{
    display: none;
}

.userName.light{
    color: var(--big-text-light);
}
.userEmail.light{
    color: var(--button-light);
}
.art.light{
    color: var(--container-second-light);
}
.nameInfo.light{
    h5{
        color: var(--container-second-light);
    }
    h2{
        color: var(--button-light);
    }
}
.cardFooter.light{
    h6{
        color: var(--container-second-light);
    }
}
.iconBox.light{
    color: rgb(232, 115, 115);
}
.arrow.light{
    color: var(--text-light);
}
.log.light{
    color: var(--small-text-dark);
}
.footer.light{
    background-color: white;
}
hr.light{
    color: var(--big-text-light)!important;
}
#pop.light{
    .box{
        background-color: white !important;
        box-shadow: 0px 0px 15px var(--big-text-light);
        .icony{
            color: var(--big-text-light);
            }
        .hr{
                background-color: var(--big-text-light);
            }
        .heading{
                color: var(--big-text-light);
            }
        .warning{
                color: var(--button-hover-light);
            }
        .no{
            border: 1px solid var(--big-text-light);
            color: var(--big-text-light);
            }
        .yes{
                background-color: var(--big-text-light);
                color: white;
            }
    }
}
<<<<<<< Updated upstream
/* @media (max-width = 567px) {
    .head,main{
        padding: 0.5%;
    }
    #profilePic{
        width: 19%;
        height: 19%;
        margin: 0.5%;
        border: 0.16px solid var(--golden-color);
    }
    h3{
        border-bottom: 1.6px solid var(--small-text-color);
        padding: 1.5;
    }
    .btn{
        margin: 0.6px;
    }
    a{
        font-size: 50%;
    }

    .fav{
        h2{
            font-size: 65%;
        }
        h5{
            font-size: 65%;
            width: 17px;
        }
        h6{
            font-size: 55%;
        }
        .container{
            margin: 1.7%;
            width: 300px;
            gap: 21px;
        }
        .picture{
            height: 100px;
            width: 100px;
        }
        .nameInfo{
            min-width: 120px;
        }
        .iconBox{
            font-size: 120%;
            width: 17px;
            gap: 12px;
        }
        .text{
            gap: 17px;
        }
        .cardFooter{
            gap: 12px;
        }
    }
} */
=======

>>>>>>> Stashed changes
