/* :root {
    --navBar-color-dark: #131313e6;
    --navBar-color-light: #fef8efe6;
    --background-dark: #0a0a0a;
    --background-light: #f8f2ea;
    --golden-color: #e7c075;
    --golden-hover-color: #bb954f;
    --golden-btn-text-color: #432f01;
    --text-dark: #a4a2a8;
    --text-light: #4e4635;
    --active-text: rgb(152, 120, 34);
    --active-text: #987822;
    --big-text-light: #2b240a;
    --small-text-dark: #b5aa9b;
    --footer-light: #e8d9ac;
    --button-light: #765700;
    --card-background-color: #353534;
    --container-color-light: #fdedbf;
    --container-second-light: #ffffff;
} */
:root {
    --navBar-color-dark: #131313e6;
    /* --navBar-color-light: #fef8efe6; */
    --background-dark: #0a0a0a;
    /* --background-light: #f8f2ea; */
    --golden-color: #e7c075;
    --golden-hover-color: #bb954f;
    --golden-btn-text-color: #432f01;
    --text-dark: #a4a2a8;
    /* --text-light: #4e4635; */
    --active-text: #987822;
    /* --big-text-light: #2b240a; */
    --small-text-dark: #b5aa9b;
    /* --footer-light: #e8d9ac;
    --button-light: #765700;
    --container-color-light: #fdedbf;
    --container-second-light: #383010; */
    /*بني*/
    --navBar-color-light: rgb(242, 237, 228, 0.8);
    --background-light: #f2ede4;
    --button-light: #937C63;
    --button-hover-light: #7D6852;
    --footer-light: #f2ede4;
    --card-background-color: #353534;
    --container-color-light: #F9F3E5;
    --container-second-light: #ffffff;

    --text-light: #6B4F3A;
    --big-text-light: #3E2F23;
}

main {
    padding: 20px 40px;
}

.search-header {
    color: var(--text-dark);
    font-size: 40px;
    margin-left: 16%;
    margin-top: 12px;
    transition: 0.3s;
}

.search-header.light {
    color: var(--text-light);
}

.search-window {
    display: flex;
    justify-content: center;
}

.search-window input {
    height: 42px;
    background-color: var(--card-background-color);
    border: none;
    width: 60%;
    font-size: 16px;
    padding: 5px;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 0.3s;
}



.search-window input.light {
    background-color: var(--container-second-light);
    color: #0a0a0a;
}

input.light::placeholder {
    color: var(--text-dark) !important;
    transition: 0.3s;
}

.search-window input:focus {
    outline: none;
    border: 1px solid white;
}

.search-window button {
    width: 8%;
    background-color: var(--golden-color);
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

.search-window button.light {
    background-color: var(--active-text);
}

.search-window button:hover {
    background-color: var(--golden-hover-color);
}

.categories {
    display: flex;
    margin: 0 16%;
    margin-top: 15px;
    justify-content: space-between;
}

.categories button {
    padding: 8px 16px;
    border-radius: 3em;
    border: 2px solid var(--golden-color);
    background-color: transparent;
    color: var(--small-text-dark);
    cursor: pointer;
    transition: 0.3s;
}

.categories button.light {
    border: 2px solid var(--button-light);
    color: var(--text-light);
}

.active-category {
    background-color: var(--golden-color) !important;
    color: var(--golden-btn-text-color) !important;
    transition: 0.3s;
}

.active-category.light {
    background-color: var(--button-light) !important;
    color: white !important;
}

.hide {
    display: none;
}

#artifacts-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    padding: 2em 0;
    margin: 0 16%;
    gap: 50px 105px;
}

.card {
    position: relative;
    background-color: var(--card-background-color);
    max-width: 19em;
    padding: 8px;
    height: 390px;
    border-radius: 10px;
    /* img{
        display: flex;
        justify-self: center;
    } */
    transition: 0.3s;
}

.card.light {
    background-color: var(--container-second-light);
}

.image-container {
    text-align: center;
    max-width: 240px;
}

img {
    max-width: 100%;
    object-fit: contain;
    height: 15em;
}

.artifact-header {
    margin-top: 10px;
    color: var(--golden-color);
    font-size: 12px;
}

.artifact-name {
    color: var(--text-dark);
    margin-top: 5px;
    font-size: 20px;
    width: 240px;
    transition: 0.3s;
}


.artifact-name.light {
    color: var(--big-text-light);
}

.artifacte-subtitle {
    color: var(--small-text-dark);
    margin-top: 10px;
    width: 240px;
    transition: 0.3s;
}

.artifacte-subtitle.light{
    color: var(--big-text-light) !important;
}

.card-footer {
    position: absolute;
    bottom: 20px;
    display: flex;
    /* justify-content: space-between; */
    width: 240px;
    justify-self: flex-end;
}

.icon-box {
    width: 40%;
    display: flex;
    align-items: flex-end;
    gap: 0 5px;
}

.heart-icon {
    margin-left: 10px;

}

.heart-icon,
.archive-icon {
    color: var(--golden-color);
    cursor: pointer;
}

.active-icon {
    color: black !important;
}
