:root {
    --navBar-colo-dark-dark: #131313e6;
    --background-dark: #0a0a0a;
    --golden-color: #e7c075;
    --golden-hover-color: #bb954f;
    --golden-btn-text-color: #432f01;
    --text-dark: #a4a2a8;
    --active-text: #987822;
    --small-text-dark: #b5aa9b;

    --navBar-color-light: rgb(242, 237, 228, 0.8);
    --background-light: #f2ede4;
    --button-light: #937C63;
    --button-hover-light: #7D6852;
    --footer-light: #f2ede4;

    --container-color-light: #F9F3E5;
    --container-second-light: #383010;

    --text-light: #5d3c24;
    --big-text-light: #3E2F23;
}


@font-face {
    font-family: mainFont;
    src: url(../assets/Fonts/noto-serif.regular.ttf);
}


.a {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)),
        url(../assets/images/Screenshot\ \(645\).png);
    background-size: cover;
    height: 100vh;
    padding-top: 75px;
    position: static;
}

.a.light {
    background-image: linear-gradient(rgb(255, 255, 255, .5)),
        url(../assets/images/ChatGPT\ Image\ Apr\ 29\,\ 2026\,\ 08_47_38\ PM.png);
}

.miniTitle {
    color: var(--golden-color);
    font-size: 14px;
    font-family: mainFont;
    letter-spacing: 2px;
    margin-bottom: -10px;
    font-weight: bold;
}

.miniTitle.light {
    color: var(--text-light);
}

h1 span {
    color: white;
}

h1 span.light {
    color: white;
    text-shadow: 1px 1px 8px var(--big-text-light);
}

h1 {
    color: var(--golden-color);
    font-size: 70px;
    font-family: mainFont;
    font-weight: 500;
    padding: 20px 0;
}

h1.light {
    color: var(--big-text-light);
    text-shadow: 1px 1px 2px var(--big-text-light);
}

.line {
    width: 20%;
    border-top: 5px solid var(--golden-color);
}

.line.light {
    border-top: 5px solid var(--big-text-light);
}

.description {
    color: var(--small-text-dark);
    font-size: 22px;
    font-family: mainFont;
    padding: 20px 0;
    line-height: 1.4;
}

.description.light {
    color: var(--text-light);
}

/* .end{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
}
.end h4{
    font-size: 40px;
    font-family: mainFont;
    color: var(--golden-color);
    font-weight: normal;
}
.end h4.light{
    color: var(--big-text-light);
}
.end p{
    color: var(--small-text-dark);
    font-size: 14px;
    font-family: mainFont;
    letter-spacing: 2px;
}
.end p.light{
    color: var(--text-light);
} */
.left {
    display: flex;
    justify-content: center;
    /* background-color: var(--navBar-colo-dark); */
    padding: 50px;
    width: 40%;
}

/* .left.light{
   background-color: var(--navBar-color-light);
} */
.sign-in {
    display: flex;
    flex-direction: column;
    /* gap: 25px; */
    width: 100%;
    background-color: var(--navBar-colo-dark-dark);
    padding: 50px;
    border-radius: 20px;
}

.sign-in.light {
    background-color: var(--navBar-color-light);
}

.form-link {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 25px;
}

.form-link a {
    text-decoration: none;
    color: var(--text-dark);
    font-size: 16px;
    font-family: mainFont;
    letter-spacing: 2px;
    padding: 3px;
}

.form-link .sign.light {
    color: var(--text-light);
}

.form-link .sign:hover {
    color: var(--golden-color);
}

.form-link .sign.light:hover {
    color: var(--big-text-light);
}

.form-link .active {
    border-bottom: 2px solid var(--golden-color);
    color: var(--golden-color);
}

.form-link .active.light {
    border-bottom: 2px solid var(--big-text-light);
    color: var(--big-text-light);

}

form div {
    display: flex;
    flex-direction: column;
    color: var(--small-text-dark);

}

div label {
    font-size: 16px;
    font-family: mainFont;
    font-weight: normal;
    color: var(--small-text-dark);
    letter-spacing: 2px;
    padding: 5px 0;
}

div label.light {
    color: var(--text-light);
}

div input {
    font-size: 16px;
    font-family: mainFont;
    color: var(--text-dark);
    padding: 10px;
    background-color: rgba(46, 45, 45, 0.4);
    outline: none;
    border: 0.5px solid rgba(46, 45, 45, 0.4);
    transition: 0.2s;
    width: 100%;
}

div input.light {
    background-color: var(--background-light);
    color: var(--text-light);
}

.error {
    height: 18px;
    text-align: left;
    font-size: 16px;
    font-family: mainFont;
    font-weight: normal;
}

.errorS {
    height: 18px;
    text-align: left;
    font-size: 20px;
    font-family: mainFont;
    font-weight: normal;
    margin-bottom: 10px;
}

div input:focus {
    border: 0.5px solid var(--golden-color);
}

div input.light:focus {
    border: 0.5px solid var(--big-text-light);
}

button {
    padding: 10px 16px;
    background-color: var(--golden-color);
    color: var(--golden-btn-text-color);
    font-size: 16px;
    font-family: mainFont;
    width: 100%;
    letter-spacing: 2px;
    transition: .3s;
    margin-bottom: 25px;
}

button.light {
    background-color: var(--button-light);
    border: none;
    color: #ffffff;
}

button:hover {
    cursor: pointer;
    background-color: var(--golden-hover-color);
    color: var(--golden-btn-text-color);
    transform: translateY(8px);
}

button.light:hover {
    background-color: var(--button-hover-light);
    color: white;
}

.sign-in P {
    color: var(--text-dark);
    font-size: 14px;
    font-family: mainFont;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.4;
}

.sign-in P.light {
    color: var(--button-light);
}

.sign-in .Q {
    margin-top: -5px;
    font-size: 14px;
    font-family: mainFont;
    margin-bottom: 10px;
}

.Q a {
    color: var(--golden-color);
    text-decoration: none;
}

.Q a.light {
    color: var(--big-text-light);
}

.or {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin: 15px 0;
    color: var(--small-text-dark);
}

.or.light {
    color: var(--text-light);
}

.or::after,
.or::before {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--small-text-dark);
    margin-right: 15px;
    margin-left: 15px;
}

.or.light::after,
.or.light::before {
    border-bottom: 1px solid var(--text-light);
}

.diff-way {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    margin-bottom: 20px;
}

.icon {
    color: var(--small-text-dark);
    font-size: 25px;
    font-family: mainFont;
    transition: 0.3s;
}

.icon.light {
    color: var(--button-hover-light);
}

.icon:hover {
    transform: scale(1.2);
}